*.png
*.GC
*.GFX
*.MD
*.ICP
*.dat
*.VOC
*.EM
*.VOL
cmwriter/cmwriter/Debug/
*.COD
*.SPR
*.dll
*.filters
*.user
*.pdb
*.db
*.sdf
*.suo
*.lib
*.txt
*.com
*.emi
cmwriter/cmwriter/Release/
cmwriter/cmwriter/Debug/
cmwriter/Debug/
emidump/Debug/
emidump/.vs/
cmwriter/.vs/
cmwriter/cmwriter/AREAHEADERS
cmwriter/cmwriter/EMI.VOL_ - Copy/
cmwriter/cmwriter/backuptroep/
cmwriter/cmwriter/levels.zip
cmwriter/cobra-mission/
gcdebugger/.qmake.stash
gcdebugger/.vs/
gcdebugger/debug/
gcdebugger/release/
gcparse/.vs
gcparse/x64
gcparse/LOGCPU_pic3_cdefbcde.TXT
